* {
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 21px 16px;
}

/* 弹框样式 */

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display:none;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.Container {
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	border-radius: 5px;
}



.cancel {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 0 2px gray;
}

.cancel>i {
	font-size: 30px;
	line-height: 35px;
	color: gray;
}

.bombBox {
	width: 500px;
}

.pointer {
	cursor: pointer;
}





/* 下面是弹框做的 */


.tip{

	text-align: center;
	font-size: 20px;
	font-weight: bold;
	
	border-radius: 5px;
	
	
	}
	
	.bianhoa{
	
		font-size: 16px;
		font-weight: bold;
		margin-top: 30px;
	}
	
	
	.form_box{
		margin-top: 15px;
	}
	
	
	.anniuBox{
		display: flex;
	}
	
	.anniuBox div{
	   flex: 1;
	}
	
	
	
	.cancerOrsure{
	
		display: flex
	
	}
	
	.cancerOrsure div{
		flex: 4;
		
	}
	
	.cancerOrsure div layui-btn{
		flex: 1;
		height: 60px;
	}
	
	